<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Student">
    <select id="selectAll" resultType="student">
        select id, studentNumber, studentName, studentKoreanScore, studentEnglishScore, studentMathScore
        from student_table
    </select>

    <select id="select" parameterType="int" resultType="student">
        select id, studentNumber, studentName, studentKoreanScore, studentEnglishScore, studentMathScore, studentGender
        from student_table
        where id = #{intId}
    </select>

    <insert id="insert" parameterType="student">
        insert into student_table(studentNumber, studentName, studentKoreanScore, studentEnglishScore, studentMathScore, studentGender)
        values (#{studentNumber}, #{studentName}, #{studentKoreanScore}, #{studentEnglishScore}, #{studentMathScore}, #{studentGender})
    </insert>

    <update id="update">
        update student_table
        set studentKoreanScore = #{studentKoreanScore},
            studentEnglishScore = #{studentEnglishScore},
            studentMathScore = #{studentMathScore}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from student_table
        where id = #{intId}
    </delete>

    <select id="searchStudentNumber" parameterType="int" resultType="int">
        select count(*)
        from student_table
        where studentNumber = #{studentNumber}
    </select>
</mapper>