<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 연결 -->
<!-- mapper namespace = "package명.인터페이스명" -->
<mapper namespace="repository.mapper.BoardDAO">
    <!-- 해당 sql을 인터페이스에 선언된 메서드와 연결해서 처리.
    id는 메서드명, resultType 리턴 타입(풀 패키지명), parameterType 매개변수 -->
    <select id="selectCount" parameterType="java.util.HashMap" resultType="int">
        select count(*)
        from mvcboard
        <if test='searchWord != null'>
            where #{searchField} like concat('%', #{searchWord}, '%')
        </if>
    </select>

    <select id="selectListPage" parameterType="java.util.HashMap" resultType="board.model.BoardVO">
        select *
        from mvcboard
        <if test='searchWord != null'>
            where #{searchField} like concat('%', #{searchWord}, '%')
        </if>
        order by idx desc
        limit #{pageSize} offset #{offsetStart}
    </select>

    <insert id="insertWrite" parameterType="board.model.BoardVO">
        INSERT
        INTO mvcboard(name, title, content, ofile, sfile, pass)
        VALUES(#{name}, #{title}, #{content}, #{ofile}, #{sfile}, #{pass})
    </insert>

    <select id="selectView" parameterType="String" resultType="board.model.BoardVO">
        select *
        from mvcboard
        where idx = #{idx}
    </select>

    <update id="updateVisitCount" parameterType="String">
        update mvcboard
        set visitcount = visitcount + 1
        where idx = #{idx}
    </update>
</mapper>