<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Student">
    <select id="selectAll" resultType="student">
        select *
        from test_student_table
    </select>

    <insert id="insert" parameterType="student">
        insert into test_student_table(studentNumber, studentName, studentKoreanScore, studentEnglishScore, studentMathScore)
        values(#{studentNumber}, #{studentName}, #{studentKoreanScore}, #{studentEnglishScore}, #{studentMathScore})
    </insert>

    <select id="selectByStudentId" parameterType="int" resultType="student">
        select *
        from test_student_table
        where studentId = #{studentId}
    </select>

    <update id="update" parameterType="student">
        update test_student_table
        set studentKoreanScore = #{studentKoreanScore},
            studentEnglishScore = #{studentEnglishScore},
            studentMathScore = #{studentMathScore}
        where studentId = #{studentId}
    </update>

    <delete id="delete" parameterType="int">
        delete from test_student_table
        where studentId = #{studentId}
    </delete>
</mapper>