/* header.css */
/* import 구문은 항상 CSS 파일의 맨 윗줄에 작성  */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Nova+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  /* 너비: 1140px, 수평 방향에서 중앙 정렬 (위아래 마진 0, 왼쪽오른쪽 auto) */
  width: 1140px;
  margin: 0 auto;
}
header {
  /* 요소의 왼쪽 상단 모서리를 기준점으로 한다. 
    상단 기준으로 0 밑에 위치시킨다. */
  position: fixed;
  color: white;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  background-color: rgb(40 , 80, 140);
}

header .container {
  /* 플렉스 레이아웃(한줄)
      플렉스 아이템 사이의 간격을 동일하게 정렬 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav ul {
  display: flex;
}
header nav ul li {
  /* 리스트 각 요소의 padding 설정 */
  padding: 10px;
}

header button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
  ;
}
header h1 button {
  font-size: 2rem;
  font-weight: bold;
}
header nav ul li button {
  font-size: 1.2rem;
}

header.active {
  background-color: rgba(0, 0, 0);
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* main.css */
main {
  /* flex : 요소들을 수직 방향으로 한줄로 정렬 
  justify-content : 주축 중앙 정렬 */
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(40 , 80, 140,0.5), rgba(0, 0, 0, 0.1)),
    url("images/me.jpeg") center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main h4 {
  /* Welcome 부분 */
  font-size: 2rem;
}
main h2 {
  /* I'm a back-end developer 부분 */
  font-size: 3.5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
  font-family: "Varela Round", sans-serif; /* 웹 폰트 추가 */
}
main p {
  /* 설명 부분 */
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.25rem;
}

main button.download {
  /* download cv 버튼 */
  background-color: transparent;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-top: 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
main button.mouse {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  animation: upDown 1s ease-in-out infinite;
  cursor: pointer;
}
@keyframes upDown {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 1.5rem;
  }
  100% {
    bottom: 1rem;
  }
}

/* 문단 마지막에 커서 모양 만들기 */
main h2 span::after {
  content: "";
  height: 40px;
  width: 3px;
  background-color: #fff;
  display: inline-block;
  animation: blink 0.7s ease-in-out infinite;
}
/* 투명도를 조절하여 막대바가 깜빡이게 만듦 */
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* about_me.css */
section {
  font-family: "Poppins", sans-serif;
  padding: 5rem 0;
}
section:nth-child(2n) {
  background-color: #f8f8f8;
}

/* about me 왼쪽 부분 */
section .title {
  margin-bottom: 3rem;
}
section .title h4 {
  font-size: 1.35rem;
  color: #FF6AC2;
  position: relative;
}
section .title h2 {
  font-size: 3.5rem;
}
section .title p {
  font-size: 1.15rem;
}

/* float 속성 해제 */
section .about-self::after {
  content: "";
  clear: both;
  display: block;
}

/* about me 왼쪽 이미지 부분 */
/* 본문 너비 절반 지정 & 왼쪽 배치 */
section .about-self .left {
  width: 50%;
  float: left;
}
/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정
이미지 가운데 정렬 */
section .about-self .left img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

/* about me 오른쪽 자기소개 부분 */
/* 본문 너비 절반 지정 & 오른쪽 배치 */
section .about-self .right {
  width: 50%;
  float: left;
  padding: 0 2rem;
}
/* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
section .about-self .right h3 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
/* 본문 오른쪽 h3 태그의 strong 태그 span 색상 강조 */
section .about-self .right strong span{
  color: #FF6AC2;
}
/* 본문 오른쪽 p 태그의 크기와 여백 지정 */
section .about-self .right p {
  font-size: 1.15rem;
  margin: 1rem 0;
}
/* 본문 오른쪽의 아이콘 폰트 크기와 여백 지정 */
section .about-self .right .social a {
  font-size: 2.5rem;
  margin-right: 0.2rem;
}


/* what_i_do.css */
/* float 속성 해제*/
section .do-me::after{
  content:"";
  display:block;
  clear:both;
}
/* 사각형 크기와 간격, 내부 여백 설정 */
section .do-me .do-inner{
  background-color:#fff;
  width:30%;
  padding:2rem; 
  float:left;
  margin-right:5%;
  cursor:pointer;
}
/* 마지막 사각형의 외부 여백 설정 */
section .do-me .do-inner:last-child{
  margin-right:0;
}
/* 아이콘 폰트 크기와 색상 */
section .do-me .do-inner .icon i{
  font-size:2.5rem;
  color:#FF6AC2;
}
/* HTML5, CSS3, BootStrap v5.0 텍스트 크기와 간격 */
section .do-me .do-inner .content h3{
  font-size:2rem;
  margin:1rem 0;
}
/* 사각형 텍스트 크기 */
section .do-me .do-inner .content p{
  font-size:1.15rem;
}
/* do-inner 클래스에 마우스를 올리면 배경색과 텍스트 색상 변경 */
section .do-me .do-inner:hover{
  background-color:#FF6AC2;
  color:white;
}
/* do-inner 클래스에 마우스를 올리면 아이콘 폰트 색상 변경 */
section .do-me .do-inner:hover i{
  color:white;
}

/* End what_i_do.css */

/* background.css */
.bg{
  background:linear-gradient(rgba(255 , 255, 255), rgba(0, 0, 0, 0.1)),
  url("./images/me.jpeg") center center;
  background-size:cover;
  background-attachment:fixed;
  height:650px;
}
/* End background.css */


/* portfolio.css */
/* clear 속성으로 float 속성값 해제*/
section.portfolio::after {
  content: "";
  display: block;
  clear: both;
}
/* portfolio-inner 사각형 꾸미기 */
/* 프로젝트를 한 줄에 2개씩 출력한다.
 각 45% 너비를 갖도록 한다. */
/* 1번 사각형 너비 + 1번 오른쪽 마진 + 2번 사각형 너비
  (45 + 10) + 45 = 100 */
section.portfolio .portfolio-inner {
  width: 45%;
  margin-right: 10%;
  padding: 1rem 1rem 1.5rem 1rem;
  float: left;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 3rem;
}

section.portfolio .portfolio-inner:nth-child(2n) {
  margin-right: 0;
}

/* 이미지의 크기가 부모 요소를 넘지 않도록 100%로 지정 */
section.portfolio a .portfolio-inner img {
  width: 100%;
  display: block;
}
/* strong 태그 색상과 간격 */
section.portfolio .portfolio-inner strong {
  color: #FF6AC2;
  margin: 0.5rem 0;
  display: block;
}
/* h3 태그 색상과 간격 */
section.portfolio .portfolio-inner h3 {
  font-size: 1.75rem;
}


/* End portfolio.css */


/* contact_with_me.css */
section.contact .contact-me::after {
  content: "";
  display: block;
  clear: both;
}
section.contact .contact-me .left {
  width: 30%;
  float: left;
}
section.contact .contact-me .right {
  float: left;
  width: 65%;
  margin-left: 5%;
}
section.contact .contact-me .left .card {
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
section.contact .contact-me .left .card .icon i {
  font-size: 2rem;
  margin-right: 5px;
}
section.contact .contact-me .right {
  float: left;
  width: 65%;
  margin-left: 5%;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
/* form-group 사이 간격 지정 */
section.contact .contact-me .right .form-group {
  margin-bottom: 1.25rem;
}
/* label 태그가 인라인 성격이어서 외부 여백을 적용하기 위해 block으로 변경 */
section.contact .contact-me .right .form-group label {
  display: block;
  margin-bottom: 0.85rem;
}
/* input 요소 꾸미기 */
section.contact .contact-me .right .form-group input {
  padding: 0.625rem;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}
/* :focus 가상 클래스 선택자로 입력 요소에 커서가 활성화되면 파란색 테두리와 그림자 효과 추가 */
section.contact .contact-me .right .form-group input:focus {
  border: 1px solid #FF6AC2;
  box-shadow: 0 0 10px #FF6AC2;
}
/* textarea 요소 꾸미기 */
section.contact .contact-me .right .form-group textarea {
  height: 300px;
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 10px;
}
/* textarea 요소에 커서 활성화가 되면 파란색 테두리와 그림자 효과 추가 */
section.contact .contact-me .right .form-group textarea:focus {
  outline: none;
  border: 1px solid #FF6AC2;
  box-shadow: 0 0 10px #FF6AC2;
}
/* 버튼 요소 꾸미기 */
section.contact .contact-me .right button {
  width: 100%;
  padding: 1rem;
  background-color: #FF6AC2;
  border: none;
  color: white;
}

/* End contact_with_me.css */
